<%# app/views/classic/shared/_browse_form.html.erb -%>
<%-
  action_path  ||= classic_browse_path
  browse_mode  ||= params[:browse_mode]
  button_label ||= UVA::Classic.search_button_label
  button_class ||= UVA::Classic.search_button_class

  browse_mode = browse_mode.to_s.to_sym

  form_id = "browse-by-#{browse_mode}"
  label   = 'Browse by ' + browse_mode_label(browse_mode).downcase

  hidden_fields = {}

  view_debug(__FILE__)
-%>

<form action="<%= action_path -%>" id="<%= form_id -%>" role="search">
  <%= label_tag(browse_mode, label) %>
  <%= text_field_tag(browse_mode) %>
  <%= search_as_hidden_fields(hidden_fields) %>
  <%= submit_tag(button_label, class: button_class) %>
</form>
