<%# app/views/advanced/_advanced_search_facets.html.erb -%>
<%-
  # Controlled by app/assets/javascripts/advanced/facets

  # Hints for RubyMine (skipped during execution).
  include UVA::Helper::Facets unless ONLY_FOR_DOCUMENTATION

  facet_fields ||= facet_fields_config.keys
  response     ||= @response
  return if facet_fields.blank? || response.blank?

  response_facets = response.facets || []

  tooltip      ||= UVA::Helper::AdvancedSearch::FACET_TOOLTIP
  open_tooltip ||= UVA::Helper::AdvancedSearch::FACET_OPEN_TOOLTIP

  facet_opt = { class: 'facet-category-label', tabindex: 0 }

  # Add to hidden "skip navigation" menu.
  skip_nav << link_to('Filter by facet value', '#adv-search-facets')

  view_debug(__FILE__)
-%>

<div class="adv-search-facets" id="adv-search-facets">
  <ul class="facet-category-list">

    <li class="facet-category-heading facet-category-label first">
      Limit Results By:
    </li>

    <%- max_fname_index = facet_fields.size - 1 -%>
    <%- facet_fields.each_with_index do |solr_fname, fname_index| -%>
      <%- display_facet = response_facets.find { |f| f.name == solr_fname} -%>
      <%- next if display_facet.blank? -%>
      <%- facet_name = facet_field_labels[solr_fname] -%>
      <%- facets     = facet_name.pluralize -%>
      <%- facet_opt['data-closed-title'] = tip = tooltip % facets -%>
      <%- facet_opt['data-opened-title'] = open_tooltip % facet_name -%>
      <%- facet_opt['title']             = tip -%>
      <%- fc_id    = 'facet_category_' + sanitize_to_id(solr_fname) -%>
      <%- fc_close = facet_close_button(facet_name, ARIA_CONTROLS => fc_id) -%>
      <%- last     = (' last' if fname_index == max_fname_index) -%>
      <li class="facet-category<%= last -%>" id="<%- fc_id -%>">

        <%# Always-visible facet header. -%>
        <%= content_tag(:span, facet_opt) do %>
          <div class="fa fa-plus-square" aria-hidden="true"></div>
          <%= facet_name %>
        <%- end -%>

        <%# Dynamically-displayed facet value checklist. -%>
        <ul class="facet-choice-list">

          <%# Floating close button (hidden unless the list is visible). -%>
          <div class="close-button-anchor"><%= fc_close %></div>

          <%# Checkbox list (finalized by JavaScript). -%>
          <%- css_class = 'facet-choice' -%>
          <%- first     = ' first' -%>
          <%- display_facet.items.each do |item| -%>
            <%- next if item.value.blank? -%>
            <%- id      = "f_inclusive[#{solr_fname}][#{item.value}]" -%>
            <%- checked = facet_value_checked?(solr_fname, item.value) -%>
            <li class="<%= css_class -%><%= first -%>">
              <%= check_box_tag id, 1, checked %>
              <%= label_tag id, h(item.value) %>
              <div>(<%= format_num(item.hits) -%>)</div>
            </li>
            <%- first = nil -%>
          <%- end -%>

          <%# Close button entry for browsers without "display: sticky". -%>
          <li class="<%= css_class -%> close-button-entry"><%= fc_close %></li>

        </ul>

      </li>
    <%- end -%>

  </ul>
</div>
