<%# app/views/kaminari/_paginator.html.erb -%>
<%-
  # The container tag
  # - available local variables
  # current_page:  a page object for the currently displayed page
  # num_pages:     total number of pages
  # per_page:      number of items to fetch per page
  # remote:        data-remote
  # paginator:     the paginator that renders the pagination tags inside

  # This should be @options[:window] but there doesn't seem to be a way to
  # extract that value so this will have to do:
  window = 4

  # The number of digits per page number (based on the right-most page number).
  digits = (current_page.number + window).to_s.length

  # In the articles lens, don't show "Last Page"; EBSCO search can't support it
  article_results = articles_lens?

  view_debug(__FILE__)
-%>
<%= paginator.render do -%>
  <nav class="pagination d<%= digits -%>">
    <%= first_page_tag unless current_page.first? %>
    <%= prev_page_tag  unless current_page.first? %>
    <%- each_page do |page| -%>
      <%- if page.left_outer? || page.right_outer? || page.inside_window? -%>
        <%= page_tag page %>
      <%- elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <%- end -%>
    <%- end -%>
    <%= next_page_tag unless current_page.last? %>
    <%= last_page_tag unless current_page.last? || article_results %>
  </nav>
<%- end -%>
