<%# app/views/catalog/_sms_form.html.erb -%>
<%-
  # Overrides Blacklight app/views/catalog/_sms_form.html.erb

  documents    ||= @documents || []
  articles     ||= @articles  || []
  originator   ||= @originator
  to           ||= @field[:to]
  carrier      ||= @field[:carrier]
  max_per_page ||= true
  submit_label ||= 'Send'
  submit_opt   ||= { class: 'btn large' }
  cancel_label ||= 'Cancel'
  cancel_opt   ||= { label: cancel_label, class: 'btn' }
  title        ||= 'Text Message'

  all_items   = documents + articles
  single_item = (all_items.size == 1)

  set_meta_tags(all_items, title: title)

  s = single_item ? '' : 's'
  heading ||= "Send Record#{s} by #{title}"

  form_opt = { id: 'sms_form', method: :post }

  label_for = {
    to:        'Phone Number',
    carrier:   'Carrier',
    recaptcha: 'User verification'
  }

  carrier_menu = options_for_select(RecordMailer.sms_mapping.keys, carrier)
  carrier_opt  = { prompt: 'Please select your carrier' }

  hidden_fields = {
    id:                documents.map(&:doc_id).join(','),
    article_id:        articles.map(&:doc_id).join(','),
    style:             originator,
    show_max_per_page: max_per_page
  }.map { |k, v|
    hidden_field_tag(k, v) if v.present?
  }.compact.join("\n").html_safe

  view_debug(__FILE__)
-%>

<div class="tool-heading">
  <h1 class="heading"><%= heading %></h1>
</div>

<%= render 'catalog/sidebar_close' %>
<%= render '/flash_msg' %>

<div class="tool-content">
  <%= form_tag(send_email_record_catalog_path, form_opt) do %>

    <%= label_tag(:to, label_for[:to]) %>
    <%= text_field_tag(:to, to) %>

    <%= label_tag(:carrier, label_for[:carrier]) %>
    <%= select_tag(:carrier, carrier_menu, carrier_opt) %>

    <%= label_tag(label_for[:recaptcha]) %>
    <%= recaptcha_widget %>

    <div class="request-submit">
      <%= hidden_fields %>
      <%= submit_tag(submit_label, submit_opt) %>
      <%= window_close_link(in_popup?, cancel_opt) %>
    </div>

  <%- end -%>
</div>
