<%# app/views/about/_internal_status.html.erb -%>
<%-
  view_debug(__FILE__)
-%>

<h2 class="about-section">Execution properties</h2>

<%= show_entries(run_values) -%>
<br/>
<%= show_entries(url_values) -%>
<br/>
<%= show_entries(db_values) -%>

<h2 class="about-section">Params and session</h2>

<p>
  <em>Add URL parameter </em>
  <code>virgo_debug=true</code>
  <em> to see this information in a panel on every page.</em>
</p>
<%= debug_panel(class: 'debug-panel about') %>

<h2 class="about-section">Rails Info</h2>

<pre><%= Rails::Info %></pre>

<h2 class="about-section">Environment Variables</h2>

<%= show_entries(env_values) -%>
